html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  background-image:url('../photo/background/menu-background.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  transition: filter 0.5s ease-in-out;
} 


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#divLoad{
  width: 100%;
  height: 10px;
  position: absolute; 
  bottom: 0px;
  background: brown;
  animation-name: big;
  animation-duration: 27s;  
} 

@keyframes big {
from {width: 10px; height: 10px; visibility: visible;}
to {width: 100%; height: 10px; visibility: hidden} 
}

.videoIndex{ 
animation-name: lol;
animation-duration: 25s;  
} 

@keyframes lol {
from {visibility: visible;}
to {visibility: hidden}
} 

img.rot { 
  position: fixed;
  right: 10px; 
  top: 85%;  
  animation: 3s linear 0s normal none infinite running rot;
  width: 100px;
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
    visibility: visible;
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden
  }
}   

#p_zoomIMG{  
position: absolute;
margin-top: 5%; 
margin-left: 35%; 
animation-delay: 5s; 
visibility:hidden;
animation-name: p_zoomIMGAnim;
animation-duration: 125s;
}

@keyframes p_zoomIMGAnim {
from {visibility: hidden;}
to {visibility: visible}
}

.zoomIMG { transition: transform 1.5s; }
.zoomIMG:hover { transform: scale(1.3); }

#open_menu {
  width: 50px;
  height: 50px;
}

#open_menu img {
  width: 100%;
  height: 100%;
}

