#menu_conteiner {
    height: 100%;
    width: 100%;
    background-image: url(../photo/background/menu-background.jpg);
    position: absolute;
}

#menu {
    height: 100%;
    width: 35%;
    background-color: black;
    border-right: gold 1px solid;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#menu button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
  }

#settings_conteiner {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 25%;
    visibility: hidden;
}

#settings_conteiner label {
    margin-bottom: 10px;
}
  
.range-control input[type="range"] {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    padding: 0;
  }
  

  

