html {
    margin: 0;
    height: 100%;
    overflow-x:hidden; 
    overflow-y: hidden;
    cursor: url('../cursor/simple.png')  2 2, crosshair;
    scroll-behavior: smooth;   
}

@font-face {
    font-family: "Witcher";
    src: url("../Шрифт/Morpheus.ttf")
  }

.enemy {
    cursor: url('../cursor/fight.png')  2 2, crosshair; 
    width: 150px;
    height: 150px;
    background-color: red;
    position: absolute;
    cursor: pointer;
  }

#body {
    background-color: #ececec; 
    width: 100%;    
    overflow-y: hidden; 
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none; 
    overflow-y: hidden;
    -o-user-select: none;
    -o-user-select: none;   
    background-image: url("../photo/background/Level\ 1.jpg");
    background-repeat: no-repeat; 
    background-size: 100% 100%;  
}  

#img_sword {
    position: absolute;
    bottom: -20%;
    left: 25%; 
    width: 700px;
}

.img_enemy {
    cursor: url('../cursor/fight.png')  2 2, crosshair; 
    width: 300px;
    height: 300px;
}

div.enemies {
    position: relative;
} 


.progress-bar {
    width: 100px;
    height: 20px;
    background-color: red;
    position: absolute;
    top: -15px;
    left: 0;
    border-radius: 5px;
    text-align: center;
    color: #ececec;
}

.img_enemy2 {
    cursor: url('../cursor/fight.png')  2 2, crosshair; 
    width: 150px;
    height: 150px;
}

.font_witcher {
    font-family: "Witcher";
}