body, html {
    margin: 0;
    height: 100%;
    overflow-x:hidden;  /*для горизонтального*/
    cursor: url('./cursor/simple.png')  2 2, crosshair;
    scroll-behavior: smooth;  
    background-image: url('./photo/background/Level\ 1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    overflow-y: hidden;
} 
body {
    background-color: #ececec;
    width: 100%;   
} 

#img_sword {
    position: absolute;
    bottom: -20%;
    left: 10%; 
}