body, html {
    margin: 0;
    height: 100%;
    overflow-x:hidden; 
    overflow-y: hidden;
    cursor: url('./cursor/simple.png')  2 2, crosshair;
    scroll-behavior: smooth;  
    background-image: url('./photo/background/Level\ 1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

body {
    background-color: #ececec;
    width: 100%;  
    overflow-y: hidden;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none; 
    -o-user-select: none;
} 
body {
    background-color: #ececec;
    width: 100%;   

} 

#img_sword {
    position: absolute;
    bottom: -20%;
    left: 10%; 
}

.img_enemy {
    cursor: url('./cursor/fight.png')  2 2, crosshair; 
}

div.enemies {
    position: relative;
}
